/*
================================================================================================
Typography
================================================================================================
*/
h1, h2, h3, h4, h5 ,h6{
	font-family: "Poppins";
	font-weight: 700;
}
p {
	font-weight: 550;
	font-size: 1.1em;
}
.corps{
	background-color: #ccc;
}
header{
	height: auto;
    background-color: #fff;
}
.header-logo{
	padding-left: 40px;
}
.header-logo img{
	min-height: 100%;
	width: 150px;
}
.header-menu{
	font-family: 'Poppins';
	padding-top: 25px;
}
.nav-item {
    padding: 10px;
}
.header-menu a{
	text-decoration: none;
	font-size: 17px;
	color: #66707f;
	font-weight: bold;
	text-transform: uppercase;
}
.header-menu a:hover{
	color:#F1592A;
}
header .btn-menu{
	color: #656262;
	font-size: 25px;
	border: 2px solid;
	padding: 5px;
}
header .btn-menu:hover{
	color: #F1592A;
}
/*
================================================================================================
Slider style
================================================================================================
*/

.slide{
	width: 100%;
	background-size:cover;
	height: 450px;
	position: relative;
	overflow: hidden;
	background-color: rgba(0, 0, 0, .5);
	opacity: .9;	
} 

.carousel-item.slide img{
	min-width: 100%;
	height: auto;
}
.carousel-item.slide{
	width: 100%;
	position: relative;
}
.carousel-container {
	width: 100%;
}
.carousel-container .carousel-item .slide img{
	
	opacity: 0.8;
}

.slide-article{
	width: 90%;
	position: absolute;
	height: 100%;
	bottom: 0px;
	margin-left: 5%;
	padding: 13%;
	padding-top: 15%;
}
.carousel-article-container{
	text-align: center;
}
 .slide-article p{
 	color: #fff;
 	text-shadow: #151515 .5px 0 .5px;
}
.slide-article .carousel-article-container h2{
	font-size: 2.3em;
	color: #F1592A;
	text-shadow: #151515 -.5px 0 .5px;
}

.carousel-btn-container{
	width: 50%;
	display: flex;
	justify-content: space-around;
	margin-left: 25%;
}
.btn-carousel {
	text-decoration: none;
	color: #fff;
	background: #F1592A;
	padding: 12px 25px;
	border-radius: 30px;
	font-size: .8em;
	transition: background-color .5s;
	font-family: 'Poppins';
	font-weight: 400;
}

.btn-carousel a{
	text-decoration: none;
	color: #fff;
}
.btn-container{
	max-width: 350px;
}
.btn-carousel:hover {
    background-color: #dc3545;
}
.carousel-control-prev, .carousel-control-next{
	height: 35px;
	width: 3%;
	margin-top: 15%;
	border-radius: 30px;
	padding: 29px;
	transition: background-color 3s;
}
.carousel-control-prev{
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	border-color: #fff;
}
.carousel-control-next{
	border-width: 0px 0px 0px 1px;
	border-style: solid;
	border-color: #fff;
}
.carousel-control-next:hover{
	background-color: #dc3545;
}
.carousel-control-prev:hover{
	background-color: #dc3545;
}
.carousel-control-prev{
	margin-left: 15px;
}
.carousel-control-next{
	margin-right: 15px;
}
.carousel-control-prev-icon:before{
	content: '\f053';
}
.carousel-control-next-icon:before{
	content: '\f054';
}
.carousel-control-prev-icon, .carousel-control-next-icon{
	background-image: none;
	font-family: 'FontAwesome';
	color:#fff;
	transition: opacity 300ms ease-out;
}

/* Carousel addition settings */
.carousel-fade .carousel-inner .carousel-item {
  -webkit-transition-property:opacity;
  transition-property:opacity;
}

.carousel .slide {
}
.carousel-fade .carousel-inner .active.carousel-item-left, .carousel-fade .carousel-inner .active.carousel-item-right, .carousel-fade .carousel-inner .carousel-item {
  opacity:.4;
  transition: opacity .2s;
}

.carousel-fade .carousel-inner .active, .carousel-fade .carousel-inner .carousel-item-next.carousel-item-left, .carousel-fade .carousel-inner .carousel-item-prev.carousel-item-right {
  opacity:1;
}

.carousel-fade .carousel-inner .active.carousel-item-left, .carousel-fade .carousel-inner .active.carousel-item-right, .carousel-fade .carousel-inner .carousel-item-next, .carousel-fade .carousel-inner .carousel-item-prev {
  left:0;
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
}
/*
================================================================================================
Section actualité
================================================================================================
*/
.section-evenement{
	background-color: #F2F2F2;
	overflow: hidden;
}
.section-evenement-title {
	padding: 25px;
	color: #F1592A;
	text-align: center;
	position: relative;
	padding-bottom: 0px;
}
.section-evenement-title p{
	color: #626265;
}
.block-article{
    color: #272727;
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 0px;
    background-color: #F2F2F2;
    padding: 20px 85px 20px 85px;

}
.block-article .article{
	border-radius: 0px;
    background-color: #F2F2F2;
    border: 0px;
}
.card-img-top{
	border-radius: 0px;
	max-width: 100%;
	height: auto;
}
.card .card-img {
    height: 250px;
    overflow: hidden;
}
.block-article .article img{
	transition: transform .5s;
}
.block-article .article img:hover{
	opacity: 0.6;
	transform: scale(1.8) rotate(25deg);
}
.block-article .article .card-img:hover{
	background-color: #F1592A;
	cursor: pointer; 
}
.block-article .time{
	text-transform: uppercase;
	color: #8f6d0c;
}
.card-container {
	background: #fff;
	border: 1px solid #dee4ee;
	transition: transform 1s;
}
.card-container:hover {
	box-shadow: 0px 4px 26px 3px rgba(213, 221, 234, 1);
}

.card-body{
	padding: 0px 10px 0px 10px;
	background-color: white;
	text-align: center;
}
.card-body p{
	color: #626265;
	padding: 2px;
}
.card-body h5{
	color: #F1592A;
} 
.btn-article{
	cursor: pointer;
	width: 114px;
	font-size: 1em;
	font-weight: 550;
	padding: 8px;
	/*background: #F51F8A;*/
	border-bottom: 2px solid #F1592A;
	text-align: center;
	margin-bottom: 20px;
}
.btn-article a{
	text-decoration: none;
	color: #F1592A;
}
.btn-article:hover{
	border-bottom: 2px solid rgb(2, 79, 204);
}
.btn-article a:hover{
	color: rgb(2, 79, 204);
}
/*
================================================================================================
Section parallax
================================================================================================
*/
.parallax {
    /* The image used */
	background-image: url("../img/img.png");

    /* Set a specific height */
    /*min-height: 350px;*/ 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.parallax-article{
	background-color: rgba(2, 79, 204,0.2);
	height: 100%;
	bottom: 0px;
	color: white;
}
.parallax-card-text{
	width: 50%;
	color:#fff;
	/*color: #d9d7d7;*/
	padding: 40px 0px 40px 85px;
}
.parallax-card-text h2{
	color: #F1592A;
}
/*
================================================================================================
Section Projet
================================================================================================
*/
.section-project.row {
    padding: 60px;
    padding: 15px 85px 20px 85px;
    background-color: #fff;
}
.section-actualite-title {
    color: #F1592A;
}
.section-actualite-title h3{
	margin-bottom: 0px;
}
.see-more h6{
    margin-bottom: 0px;
    margin-top: 15px;
}
.see-more a{
	text-decoration: none;
	color: #F1592A;
}
.see-more a:hover{
	color: rgb(2, 79, 204);
}
hr {
    margin-top: 3px;
}
.block-project-left{
	padding:0px;	
	height: 410px; 
	position: relative;
	background-color: rgb(2, 79, 204);
	overflow: hidden;
}
.block-project-left img{
	width: 100%; 
	min-height: 100%;
	transition: transform .5s;		
}
.block-project-left img:hover{
	opacity: 0.6;
	transform: scale(1.8) rotate(20deg);
}
.block-project{	
	overflow: hidden;
	height: 200px;
	position: relative;
	margin-bottom: 10px;
	padding-right: 0px;
}
.block-project img{
	width: 100%; 
	min-height: 100%;
	transition: transform .5s;
}
.block-project img:hover{
	opacity: 0.6;
	transform: scale(1.8) rotate(20deg);
}
.project{
	background-color: #F1592A;
	overflow: hidden; 
	height: 100%;
}

.project-text-left{
	position: absolute;
	bottom: -50%;
	margin-left: 15px;
	padding: 10px;
	transition: bottom .3s;
	color: #F1592A;
}
.project:hover > .project-text-left{
	bottom: 20px;
	width: 80%;
}
.project-text-left p, .project-text p{
	color: #fff; 
}
.project-text{
	position: absolute;
	bottom: -90%;
	margin-left: 15px;
	padding: 10px;
	transition: bottom .3s;
	color: #F1592A;
}
.project:hover > .project-text{
	bottom: 0px;
	width: 80%;
}
/*
================================================================================================
footer
================================================================================================
*/
footer{
	background-color: #4E4E4E;
	color: #d9d7d7;
}
.footer-container-top{
	padding: 40px 85px 40px 85px;
}
.footer-logo img{
	width: 150px;
	height: auto;
}
footer .descriptition-container p{
	color: #d9d7d7;
    font-weight: 550;
    font-size: 17px;
}
footer .descriptition-container i{
	width: 30px;
}
.footer-menu ul{
	list-style-type: none;
	padding-left: 0px;
}
.footer-menu ul li{
	margin-bottom: 8px;
}
.footer-menu ul a{
	text-decoration: none;
	font-weight: 550;
	color: #d9d7d7;
}
.footer-menu ul a:hover{
	color: #F1592A;
}
.footer-menu ul li::before {
    font-family: 'FontAwesome';
    display: block;
    position: absolute;
    left: 0;
    font-size: 17px;
	color: #d9d7d7;
    content: "\f105";
}
footer .reseau-social-container ul{
	list-style-type: none;
}
.reseau-social-container ul li{
	margin-bottom: 8px;
}
footer .reseau-social-container a{
	text-decoration: none;
	color: #d9d7d7;
	text-transform: uppercase;
	font-weight: 550;
}
footer .reseau-social-container a i{
	width: 30px;
}
footer .reseau-social-container a:hover{
	color: #F1592A;
}
footer .signature-container {
    color: #d9d7d7;
    background-color: #3D3D3D;
    padding: 10px;
    height: 48px;
}
/*
================================================================================================
page single
================================================================================================
*/
.single-container{
	background-color: #eff1f4;
}
.single-slide{
	height: 150px;
	overflow: hidden;
	padding: 0;
	/*background-color: #dc3545;*/
}
.sidbar-article-container{

}
.single-slide img{
	max-width: 100%;
	height: auto;
}
.single-content{
	margin-top: -40px;
	background-color: #fff;
	overflow: hidden;
}
.card.single-article{
	padding: 40px;
	border: 0;
	border-radius: 0;
	padding-left: 20px;
}
.card.single-article .single-card-img{
	border-radius: 0;
	height: 350px;
	overflow: hidden;
}
.single-card-img img{
	max-width: 100%;
	height: auto
}
.single-card-body h1{
	color: #F1592A;	
	font-size: 32px;
}
.date{
	color: #dc3545;
	font-size: 1em;
}
.single-btn-article{
	cursor: pointer;
	width: 97px;
	font-size: 1em;
	font-weight: 550;
	padding: 0px 0px 8px 0px;
	border-bottom: 2px solid #F1592A;
}
.single-btn-article a{
	text-decoration: none;
	color: #F1592A;
}
.single-btn-article:hover{
	border-bottom: 2px solid #dc3545;
}
.single-btn-article a:hover{
	color: #dc3545;
}
.sidebar{
	background-color: #fff;
	padding: 40px 20px 40px 0px;
	overflow: hidden;
}
.single-search-bar{
	margin-bottom: 30px;
}
.widget-search{
	padding: 30px;
	color: #585858;
	background-color: #eff1f4;
	padding-right: 0px;
	margin-right: 20px;
	margin-left: 20px;
    padding-right: 30px;
}
.widget-title {
    border-bottom: 1px solid #e8eaec;
    margin-bottom: 19px;
    padding-bottom: 20px;
}
.input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.btn.btn-default{
	border-radius: 0px 7px 7px 0px;
	transition: background-color .3s;
}
.btn.btn-default:hover {
    background-color: #dc3545;
}
.widget-post{
	margin-bottom: 30px;
	overflow: hidden;
}
.widget-post-content{
	padding: 30px;
	color: #585858;
	background-color: #eff1f4;
	padding-right: 0px;
	margin-right: 20px;
	margin-left: 20px;
    padding-right: 30px;
}
.widget-body{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
    margin-left: 0px;
	margin-right: 0px
}
.widget-body.row{
	margin-bottom: 10px;
}
.widget-body .card-img{
	height: 80px;
	overflow: hidden;
	padding: 0;
}
.widget-body .card-text{
    padding-right: 0px;
}
.widget-body .card-img img{
	min-width: 100%;
	height: auto;
}
/*
================================================================================================
Media queries
================================================================================================
*/

/*screen resolution <= 1024 */
@media screen and (max-width: 1024px)
{
	.carousel-control-prev, .carousel-control-next{
		width: 4%;
		margin-top: 25%;
	}
	.btn-carousel a {
    	font-size: small;
    }
    .slide-article{
    	padding: 10%;
		padding-top: 9%;
    }

}

/*screen resolution <= 960 */
@media screen and (max-width: 960px)
{
	/*header customizing */
	header .nav-item {
    	padding: 0px;
	}
	.navbar-expand-md .navbar-nav .nav-link {
    	font-size: 12px;
	}
	/*slide customizing */
    .slide{
    	height: 350px;
    	background-size: cover;
    }
    .slide-article .carousel-article-container h2 {
    	font-size: 2em;
	}
	.slide-article p {
    	font-size: 1.1em;
	}
	.carousel-btn-container {
	    width: 60%;
	    display: flex;
	    justify-content: space-between;
	    margin-left: 22%;
	}
	.carousel-control-prev, .carousel-control-next{
		width: 4%;
		margin-top: 20%;
	}
	.card-container {
    	margin: 10px;
	}
	/*parallax customizing */
	.parallax-card-text {
		width: 80%;
	}
	/*footer customizing */
	footer .col-sm{
		text-align: left;
	}
	.footer-container-top ,.block-article, .parallax-card-text, .section-project.row{
    	padding: 15px 30px 20px 38px;
	}
	.reseau-social-container{
		padding-left: 0px;
	}
	.reseau-social-container ul{
		padding-left: 13px;
	}
}
/*screen resolution <= 720 */

@media screen and (max-width: 720px)
{
	/*header customizing */
	.header-logo {
	    font-size: 2.0em;
	    padding-left: 20px;
	}
	.navbar.navbar-expand-md.navbar-white.bg-white {
    	float: right;
    	padding-top: 24px;
	}
    /*slide personalisation */
	.carousel-control-prev, .carousel-control-next{
		width: 4%;
		margin-right: 
		margin-top: 22%;
		margin-right: 0px;
		margin-left: 0px;
	}
	.block-article{
		margin-bottom: 20px;
		justify-content: space-around;
	}
	.slide-article{
		padding: 5%;
	    padding-top: 5%;
		padding-top: 10%;
	}
	.carousel-btn-containe{
		width: 70%;
		margin-left: 15%;
	}
	.btn-carousel{
		padding: 11px 14px;
	}
	/*section-project personalisation */
	.project {
    	width: 100%;
	}
	.block-project-left, .block-project{
		height: 300px;
		padding: 0px;
	}
	.block-project-left{
		margin-bottom: 10px;
	}
	.block-project-left img,.block-project img {
	    min-width: 100%;
	    height: auto;
	}

}
/*screen resolution <= 540 */

@media screen and (max-width: 540px)
{
    /*slide personalisation */
    .slide{
    	height: 300px;
    }
    .slide-article .carousel-article-container h2{
    	font-size: 1.5em; 
    }
    .slide-article p{
    	display: none;
    }
    .slide-article {
    	padding-top: 30%;;
    }
	.carousel-article-container .btn-carousel{
		padding: 3px;
	}
	.carousel-article-container .btn-carousel a{
		font-size: 12px;
	}

	.carousel-article-container .btn-carousel {
    	padding: 7px;
	}
	.carousel-btn-container {
	    width: 90%;
	    margin-left: 5%;
	}
	.carousel-control-prev, .carousel-control-next{
		width: 2%;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 50%;
		padding: 20px;
	}
	.carousel-item.slide img {
    	max-width: 100%;
    	height: 100%;
	}
	/*section-actualite personalisation */
	.card-img-top {
	    border-radius: 0px !important;
	    min-width: 100%;
	    height: 100%;
	}
	/*parallax personalisation */
	.parallax-card-text h2 {
    	font-size: 1.4em;
	}
	.parallax-card-text {
    	width: 90%;
	}
	/*section project personalisation */
	.section-project.row h3{
		font-size: 1.1em;
		margin-top: 13px;
	}
	/*footer personalisation */
	.footer-container-top ,.block-article, .parallax-card-text, .section-project.row{
    	padding: 5px 15px 20px 16px;
	}
	/*single personalisation */
	.card.single-article {
    	padding-right: 20px;
	}
	.card.single-article .single-card-img {
    	height: 200px;
	}
	.sidebar{
		padding-right: 0px;
	}
	.widget-body .card-img {
    	height: 100px;
	}
	.widget-body .card-text {
		padding-left: 0;
	}
}