/*
================================================================================================
Typography
================================================================================================
*/
h1, h2, h3, h4, h5 ,h6{
	font-family: "Poppins";
	font-weight: 700;
}

.corps{
	background-color: #ccc;
}
header{
	height: auto;
    background-color: #fff;
    padding: 10px;
}
.header-logo{
	color: #F1592A;
	font-size: 2.3em;
	padding-left: 40px;
	padding-top: 13px;
}
.header-menu{
	width: auto;
	font-family: 'Poppins';
}
.nav-item {
    padding: 10px;
}
.header-menu a{
	text-decoration: none;
	font-size: 15px;
	color: #66707f;
	font-weight: bold;
	text-transform: uppercase;
}
.header-menu a:hover{
	color:#F1592A;
}
header .btn-menu{
	color: #656262;
	font-size: 25px;
	border: 2px solid;
	padding: 5px;
}
header .btn-menu:hover{
	color: #F1592A;
}
/*
================================================================================================
Slider style
================================================================================================
*/
.slide{
	width: 100%;
	background-size:cover;
	height: 450px;
	position: relative;
	overflow: hidden;
	background-color: rgba(2, 79, 204);	
} 
.carousel-container .slide img{
	width: 100%;
	opacity: 0.8;
}
.carousel-inner > .carousel-item > img, .carousel-inner > .carousel-item > a > img {
    width: 100%;
}
.slide-article{
	width: 100%;
	position: absolute;
	height: 100%;
	bottom: 0px;
}
.carousel-article-container{

	width: 50%;
	text-align: center;
	margin: 14% 0px 0px 25%;
}
.slide-article h2{
	color: #fff;
	font-weight: bold;
}
.slide-article p{
	color: #fff;
	font-size: 15px;
	font-weight: 550;
}
.carousel-btn-container{
	width: 50%;
	display: flex;
	justify-content: space-around;
	margin-left: 25%;
}
.btn-carousel {
	text-decoration: none;
	color: #fff;
	background: #F1592A;
	padding: 12px;
	font-weight: bold;
	border-radius: 5px;
	font-size: 15px;
	transition: background-color .5s;
}
.btn-carousel a{
	text-decoration: none;
	color: #fff;
}
.btn-container{
	max-width: 350px;
}
.btn-carousel:hover {
    background-color: rgb(2, 79, 204);
}
.carousel-control-prev, .carousel-control-next{
	height: 35px;
	width: 3%;
	margin-top: 15%;
	border-radius: 30px;
	padding: 29px;
	transition: background-color 3s;
}
.carousel-control-prev{
	border-width: 0px 1px 0px 0px;
	border-style: solid;
	border-color: #fff;
}
.carousel-control-next{
	border-width: 0px 0px 0px 1px;
	border-style: solid;
	border-color: #fff;
}
.carousel-control-next:hover{
	background-color: rgb(2, 79, 204);
}
.carousel-control-prev:hover{
	background-color: rgb(2, 79, 204);
}
.carousel-control-prev{
	margin-left: 15px;
}
.carousel-control-next{
	margin-right: 15px;
}
.carousel-control-prev-icon:before{
	content: '\f053';
}
.carousel-control-next-icon:before{
	content: '\f054';
}
.carousel-control-prev-icon, .carousel-control-next-icon{
	background-image: none;
	font-family: 'FontAwesome';
	color:#fff;
	transition: opacity 300ms ease-out;
}
/*
================================================================================================
Section actualité
================================================================================================
*/
.section-evenement{
	background-color: #F2F2F2;
}
.section-evenement-title {
	padding: 25px;
	color: #F1592A;
	text-align: center;
	position: relative;
	padding-bottom: 0px;
}
.section-evenement-title p{
	color: #626265;
}
.block-article{
    color: #272727;
    margin-bottom: 30px;
    overflow: hidden;
    border-radius: 0px;
    background-color: #F2F2F2;
    padding: 20px 85px 20px 85px;

}
.block-article .article{
	border-radius: 0px;
    background-color: #F2F2F2;
    border: 0px;
}
.card-img-top{
	height: 240px;
	border-radius: 0px;
	width: 100%;
}
.card .card-img {
	height: 240px;
	overflow: hidden;
}
.block-article .article img{
	transition: transform .5s;
}
.block-article .article img:hover{
	opacity: 0.6;
	transform: scale(1.8) rotate(25deg);
}
.block-article .article .card-img:hover{
	background-color: rgb(2, 79, 204);
	cursor: pointer; 
}
.block-article p{
	font-size: 0.8em;
}
.block-article .time{
	text-transform: uppercase;
	color: #8f6d0c;
}
.card-container {
	background: #fff;
	border: 1px solid #dee4ee;
	transition: transform 1s;
}
.card-container:hover {
	box-shadow: 0px 4px 26px 3px rgba(213, 221, 234, 1);
}

.card-body{
	padding: 0px;
	background-color: white;
	text-align: center;
}
.card-body p{
	color: #626265;
	font-weight: normal;
	padding: 10px;
}
.card-body h5{
	color: #F1592A;
} 
.btn-article{
	cursor: pointer;
	width: 114px;
	font-size: 0.9em;
	padding: 8px;
	/*background: #F51F8A;*/
	border-bottom: 2px solid #F1592A;
	text-align: center;
	margin-bottom: 20px;
}
.btn-article a{
	text-decoration: none;
	color: #F1592A;
}
.btn-article:hover{
	border-bottom: 2px solid rgb(2, 79, 204);
}
.btn-article a:hover{
	color: rgb(2, 79, 204);
}
/*
================================================================================================
Section parallax
================================================================================================
*/
.parallax {
    /* The image used */
	background-image: url("../img/img4.jpg");

    /* Set a specific height */
    min-height: 350px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.parallax-article{
	background-color: rgba(2, 79, 204,0.2);
	height: 100%;
	bottom: 0px;
	color: white;
}
.parallax-card-text{
	width: 50%;
	color: #d9d7d7;
	padding: 20px 85px 20px 85px;
}
.parallax-card-text h2{
	color: #F1592A;
}
/*
================================================================================================
Section Projet
================================================================================================
*/
.section-project.row {
    padding: 60px;
    padding: 15px 85px 20px 85px;
    background-color: #fff;
}
.section-actualite-title {
    color: #F1592A;
}
.section-actualite-title h3{
	margin-bottom: 0px;
}
.see-more h6{
    margin-bottom: 0px;
    margin-top: 15px;
}
.see-more a{
	text-decoration: none;
	color: #F1592A;
}
.see-more a:hover{
	color: rgb(2, 79, 204);
}
hr {
    margin-top: 3px;
}
.block-project-left{
	padding:0px;	
	overflow: hidden;
	height: 410px; 
	position: relative;
	background-color: rgb(2, 79, 204);
}
.block-project-left img{
	width: 100%;
	height: auto;
	transition: transform .5s;
}
.block-project-left img:hover{
	opacity: 0.6;
	transform: scale(1.8) rotate(20deg);
}
.block-project{	
	overflow: hidden;
	height: 200px;
	position: relative;
	margin-bottom: 10px;
	padding-right: 0px;
}
.block-project img{
	width: 100%;
	height: auto;
	transition: transform .5s;		
}
.block-project img:hover{
	opacity: 0.6;
	transform: scale(1.8) rotate(20deg);
}
.project{
	background-color: rgb(2, 79, 204);
	overflow: hidden; 
}

.project-text-left{
	position: absolute;
	bottom: -26%;
	margin-left: 15px;
	padding: 10px;
	transition: bottom .5s;
	color: #F1592A;
}
.project:hover > .project-text-left{
	bottom: 20px;
	width: 80%;
}
.project-text-left p, .project-text p{
	color: #fff; 
}
.project-text{
	position: absolute;
	bottom: -60%;
	margin-left: 15px;
	padding: 10px;
	transition: bottom .5s;
	color: #F1592A;
}
.project:hover > .project-text{
	bottom: 0px;
	width: 80%;
}
/*
================================================================================================
footer
================================================================================================
*/
footer{
	background-color: #4E4E4E;
	color: color: #d9d7d7;
}
.footer-container-top{
	padding: 15px 85px 20px 85px;
}
.footer-logo{
	color: #F1592A;
	font-size: 2.3em;
	padding-top: 3%;
}
footer .descriptition-container {
	color: #d9d7d7;
    font-weight: 550;
}
footer .descriptition-container i{
	width: 30px;
}
.footer-menu ul{
	list-style-type: none;
	padding-left: 0px;
}
.footer-menu ul li{
	margin-bottom: 8px;
}
.footer-menu ul a{
	text-decoration: none;
	font-weight: 550;
	color: #d9d7d7;
}
.footer-menu ul a:hover{
	color: #F1592A;
}
.footer-menu ul li::before {
    font-family: 'FontAwesome';
    display: block;
    position: absolute;
    left: 0;
    font-size: 15px;
	color: #d9d7d7;
    content: "\f105";
}
footer .reseau-social-container ul{
	list-style-type: none;
}
.reseau-social-container ul li{
	margin-bottom: 8px;
}
footer .reseau-social-container a{
	text-decoration: none;
	color: #d9d7d7;
	text-transform: uppercase;
	font-weight: 550;
}
footer .reseau-social-container a i{
	width: 30px;
}
footer .reseau-social-container a:hover{
	color: #F1592A;
}
footer .signature-container {
    color: #d9d7d7;
    background-color: #3D3D3D;
    padding: 10px;
    height: 48px;
}
/*
================================================================================================
page archive
================================================================================================
*/
.section{
	background-color: #eff1f4;
}
.archive-section{
	background-image: url('../img/slide_2.jpg');
	height: 350px;
	background-size: cover;
	position: relative;
}
.archive-title-container{
	margin-top: 169px;
}
.archive-title-container .space{
	padding: 15px;
	background-color: #fff;
}
.archive-title {
    background-color: #fff;
    padding: 35px;
    margin-bottom: 35px;
    color: #3c4d6b;
    font-size: bold;
    font-weight: bold;
}
.block-archive-container{
	background-color: #fff;
}
.block-archiver{
	border: 0px;
    border-radius: 0px;
    padding: 20px;
    padding-top: 0px;
}
.block-archiver .card-body{
	text-align: left;
}
.block-archiver .card-img, .block-archiver .card-img img{
	height: 300px;
}
.sidebar{
	background-color: #ccc;
}
/*
================================================================================================
Media queries
================================================================================================
*/

/*screen resolution <= 1024 */
@media screen and (max-width: 1024px)
{
	.carousel-control-prev, .carousel-control-next{
	/*height: 60px;*/
	width: 4%;
	margin-top: 25%;
	}
	.btn-carousel a {
    	font-size: small;
    }

}

/*screen resolution <= 960 */
@media screen and (max-width: 960px)
{
	/*header customizing */
	header .nav-item {
    	padding: 0px;
	}
	.navbar-expand-md .navbar-nav .nav-link {
    	font-size: 12px;
	}
	/*slide customizing */
    .slide{
    	height: 350px;
    	background-size: cover;
    }
	.slide-article p{
	display: none;
	}
	.carousel-article-container {
    	margin: 17% 0px 0px 25%;
	}
	.carousel-article-container h2{
		font-size: 1.5em;
	}
	.carousel-btn-container {
	    width: 60%;
	    display: flex;
	    justify-content: space-between;
	    margin-left: 22%;
	}
	.carousel-control-prev, .carousel-control-next{
		width: 4%;
		margin-top: 20%;
	}
	.card-container {
    	margin: 10px;
	}
	/*parallax customizing */
	.parallax-card-text {
		width: 80%;
	}
	/*footer customizing */
	footer .col-sm{
		text-align: left;
	}
	.footer-container-top ,.block-article, .parallax-card-text{
    	padding: 15px 30px 20px 38px;
	}
	.reseau-social-container{
		padding-left: 0px;
	}
	.reseau-social-container ul{
		padding-left: 13px;
	}
}
/*screen resolution <= 720 */

@media screen and (max-width: 720px)
{
	/*header customizing */
	.header-logo {
	    font-size: 2.0em;
	    padding-left: 20px;
	}
	.navbar.navbar-expand-md.navbar-white.bg-white {
    	float: right;
    	padding-top: 24px;
	}
    /*slide personalisation */
 	.btn-2{
 		display: none;
 	}
	.carousel-control-prev, .carousel-control-next{
		width: 4%;
		margin-top: 22%;
	}
	.block-article{
		margin-bottom: 20px;
		justify-content: space-around;
	}

}
/*screen resolution <= 540 */

@media screen and (max-width: 540px)
{
    /*slide personalisation */
    .slide{
    	height: 300px;
    }
    .slide img{
    	height: 100%;
    }
    .slide h2{
    	font-size: 1.2em; 
    }
    .carousel-article-container {
    	margin: 30% 0px 0px 25%;
		width: 57%;
	}
	.carousel-article-container .btn-carousel{
		padding: 3px;
	}
	.carousel-article-container .btn-carousel a{
		font-size: 12px;
	}
	.carousel-btn-container {
    	width: 51%;
	}
	.carousel-control-prev, .carousel-control-next{
		width: 2%;
		margin-left: 0px;
		margin-right: 0px;
		margin-top: 40%;
		padding: 20px;
	}
	.btn-carousel{
		width: 90px;
		font-size: 0.6em;
		padding: 5px;
	}
}